




<div class="row">
    <input type="hidden" id="txtintProductoId" />
</div>
<div class="hr-line-dashed" style="margin: 8px 0 !important;"></div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <span class="fa fa-angle-double-right" aria-hidden="true"></span>&nbsp;<label class="lbl-mod">Descripcion</label>
            <input id="txtstrProductoDesc" type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <span class="fa fa-angle-double-right" aria-hidden="true"></span>&nbsp;<label class="lbl-mod">Cantidad (Galon)</label>
            <input id="txtintCantidad" type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <span class="fa fa-angle-double-right" aria-hidden="true"></span>&nbsp;<label class="lbl-mod">Precio</label>
            <input id="txtdecPrecio" type="text" class="form-control">
        </div>
    </div>
</div>



